#productColor .color {
    width: 88px;
    float: left;
    display: inline;
    text-align: center;
}


input[type=submit].confirm_input_btn {
    height: 40px;
    width: 202px;
    margin-bottom: 8px;
    padding: 5px 12px;
    outline: none;
    cursor: pointer;
    font: bold 15px Arial,Helvetica,sans-serif;
    overflow: visible;
    position: relative;
    background: linear-gradient(top,#4d9e21 50%,#4e9c38,#429130 50%,#246b10);
    background: -webkit-linear-gradient(top,#4d9e21 50%,#4e9c38,#429130 50%,#246b10);
    border: solid 1px #707070;
    color: #fff;
    border-radius: 4px;
    box-shadow: inset 0 0 1px 1px #fff;
    -moz-box-shadow: inset 0 0 1px 1px #fff;
    -webkit-box-shadow: inset 0 0 1px 1px #fff;
}

input[type=submit].confirm_input_btn:hover {
    border-color: #5c7589;
    color: #fff;
    background: linear-gradient(top,#448a1c 50%,#448a2f,#429130 50%,#246b10);
    background: -webkit-linear-gradient(top,#448a1c 50%,#448a2f,#397d28 50%,#1c520b);
}

#form{
    width: 385px;
}

.dogs {
    float: left;
    width: 145px;
    margin: 0 14px;
}

#bonusChoose {
    background-color: #f1efe7;
    text-align: center;
    float: left;
    margin: 9px;
    width: 150px;
}

#bonusText {
    text-align: center;
    float: left;
    width: 150px;
    margin: 0 9px;
}

#bonusChooseBTM {
    background-color: #f1efe7;
    text-align: center;
    float: left;
    margin: 9px;
    width: 330px;
}

#formWrap{
    min-width: 360px;
    width: 400px;
    margin: 15px 0 15px 40px;
    float: left;
}

#bonusSelection {
    background: #fff;
    width: auto;
    height: auto;
    padding: 0 10px 10px;
    margin: 0 0 20px 0;
    border: solid 1px #000;
    overflow: hidden;
}

.quantity-selector{	
  width: 50px;
  float: left;
}

.clearfix{	
  content: "";
  display: block;
  clear: both;
}

.del{
	background-color: #ec9e44;
  	display: inline-block;
  	border-radius: 3px;
}


.buy-me{
	cursor: pointer;
}

.price{
	display: none;
}

.quantity-label{
	font-size: 14px;
}

.row-title-item{
	background-color: #CCFFCC;
}

#continue-shopping{
	display: none;
}

/*Styles for Neaterscooper*/

a.btn {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 4px;
    font-size: 11px;
}

.button {
    width: 85px;
    height: 13px;
    vertical-align: top;
    padding: 7px 0;
    display: inline-block;
    font: bold 15px Arial,Helvetica,sans-serif;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #555;
    border: solid 1px #707070;
    background: #de2727;
    background: -moz-linear-gradient(top,#f2f2f2 0%,#de2727 50%,#8f1919 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f2f2f2),color-stop(50%,#de2727),color-stop(100%,#8f1919));
    background: -webkit-linear-gradient(top,#f2f2f2 0%,#de2727 50%,#8f1919 100%);
    background: -o-linear-gradient(top,#f2f2f2 0%,#de2727 50%,#8f1919 100%);
    background: -ms-linear-gradient(top,#f2f2f2 0%,#de2727 50%,#8f1919 100%);
    background: linear-gradient(to bottom,#f2f2f2 0%,#de2727 50%,#8f1919 100%);
    font-weight: normal;
    float: left;
    margin: 0;
}

.choose-box{
    position: relative;
    width: 153px;
    height: 100px;
    float: left;
}

#productColor {
    position: relative;
}

.color {
    float: left;
    width: 60px;
}

#rejectOffer {
    outline: none;
    cursor: pointer;
    font: normal 14px/14px Arial,Helvetica,sans-serif;
    overflow: visible;
    position: relative;
    border-radius: 4px -webkit-box-shadow:inset 0 0 1px 1px #fff;
    -moz-box-shadow: inset 0 0 1px 1px #fff;
    box-shadow: inset 0 0 1px 1px #fff;
    margin: 0 5px 0 0;
    display: inline-block;
    vertical-align: top;
    color: #555;
    padding: 5px 20px;
    border: solid 1px #707070;
    background: linear-gradient(top,#f2f2f2 50%,#eaeaea,#ddd 50%,#cdcdcd);
    background: -webkit-linear-gradient(top,#f2f2f2 50%,#eaeaea,#ddd 50%,#cdcdcd);
    background: -moz-linear-gradient(top,#f2f2f2 50%,#eaeaea,#ddd 50%,#cdcdcd);
    background: -ms-linear-gradient(top,#f2f2f2 50%,#eaeaea,#ddd 50%,#cdcdcd);
    background: -o-linear-gradient(top,#f2f2f2 50%,#eaeaea,#ddd 50%,#cdcdcd);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f2f2f2',endColorstr='#cdcdcd');
    width: 202px;
    height: 40px;
    font-size: 20px;
    line-height: 20px;
}

input[type=submit].accept_input_btn {
    border: solid 1px #707070;
    color: #fff;
    border-radius: 4px;
    box-shadow: inset 0 0 1px 1px #fff;
    -moz-box-shadow: inset 0 0 1px 1px #fff;
    -webkit-box-shadow: inset 0 0 1px 1px #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 20px;
    font-size: 20px;
    width: 202px;
    background: linear-gradient(top,#4d9e21 50%,#4e9c38,#429130 50%,#246b10);
    background: -webkit-linear-gradient(top,#4d9e21 50%,#4e9c38,#429130 50%,#246b10);
    background: -moz-linear-gradient(top,#4d9e21 50%,#4e9c38,#429130 50%,#246b10);
    background: -ms-linear-gradient(top,#4d9e21 50%,#4e9c38,#429130 50%,#246b10);
    background: -o-linear-gradient(top,#4d9e21 50%,#4e9c38,#429130 50%,#246b10);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4d9e21',endColorstr='#246b10');
}

#upsellTxt input#rejectOffer,
#upsellTxt input#acceptOffer{
	border: 1px solid black;
}

