{% comment %}
	{{ content_for_index }}
{% endcomment %}

  <a href="javascript:" data-sn-id="12917" class="dtm-sn-footer" style="display: none;">Edit</a>

                        <div class="dtm-sn-header" data-sn-id="47835" style="width: 100%; height: 1px; display: none;"></div>
                        <div id="mainofferWrap">
                            <div id="left-col">
                                <div id="mainOrderWrap">
                                    <div id="offordrow">
                                        <a href="#order" class="mainOrder" title="Order Your Neater Bag™ Dispenser Now!">Order Now!</a>
                                    </div>
                                </div>
                            </div>
                            <div id="right-col">
                                <div id="video">
                                    <iframe src="https://player.vimeo.com/video/212272296?autoplay=1&amp;loop=1&amp;title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" id="dtm0" class="has-dtm-vimeo" data-ready="true" width="307" height="173" frameborder="0"></iframe>
                                </div>
                                <div id="features">
                                    <h3 class="assets">Features &amp; Benefits</h3>
                                    <div id="list">
                                        <ul>
                                            <li>Easily attaches to leash or leash handle</li>
                                            <li>Grips tight with its elastic cord and adjustable cord stop</li>
                                            <li>Can be used with retractable leashes</li>
                                            <li>Bags are individually folded for easy retrieval… no tearing or ripping seams!</li>
                                            <li>Large bag size of 9” x 13”</li>
                                            <li>Durable and leak proof</li>
                                            <li>Fresh scent bags</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="{{ 'easy-123.jpg' | file_url }}" alt="Just attach, pull, and tie!" />
                        <div id="aboutWrap">
                            <p>The Neater Bag™ Dispenser’s patent pending design grips tight to any leash or collar with its elastic cord and adjustable cord stop. Unlike other dispensers, it can be attached below the leash handle so it does not interfere with hold on leash and doesn’t swing when you run or walk.<br><br>
                            Tissue style boxes make loading refill bags a breeze, and the low profile design fits comfortably in pockets or purses. Best of all, bags are individually folded for one-handed dispensing. No tearing or ripped seams!</p>
                            <div id="product">
                                <img src="{{ 'product-shot.png' | file_url }}" alt="Neater Bags" />
                            </div>
                            <div id="midOrderWrap">
                                <a href="#order" class="midOrder" title="Order Your Neater Bag™ Dispenser Now!">Order Now</a>
                            </div>
                            <div class="clearer"></div>
                        </div>

                   
